<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manoj</title>
</head>
<body>
<h1>Welcome To Text Analyser </h1>
<h3>Enter the text below</h3>
<form action="/analyse" ,method="get">
    <textarea name="text" style="width: 368px; height: 40px;" autocomplete="chrome-off"></textarea>
    <br>
    <input type="checkbox" name="removepunc"> Remove Punctuation<br>
    <input type="checkbox" name="fullcaps"> Capitalise the Text <br>
    <input type="checkbox" name="newlineremover"> New line Remover <br>
    <input type="checkbox" name="spaceremover"> Space Remover <br>
    <input type="checkbox" name="count"> Count <br>
    <button type="submit"> Analyse Text</button>
</form>
</body>
</html>